<html>

<head>
    {% block head %}
        <style>
            [x-cloak] {
                display: none !important;
            }
        </style>
        {% for style in styles %}
            <link rel="stylesheet" href="{{ style }}">
        {% endfor %}
        {% for script in scripts %}
            <script type="module" src="{{ script }}" defer></script>
        {% endfor %}
        <script type="module" src="{{ turbo_src }}"></script>
    {% endblock %}
</head>
<body>
    {% block body %}
    {% endblock %}
</body>
</html>